/* .calendar_table {
	margin: 5px;
} */

.calendar_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cell {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	margin: 3px 5px;
}

.calendar_day_cell {
	cursor: none;
}

.out_dates {
	background-color: var(--text-color);
	color: var(--background-color-mat);
	cursor: not-allowed;
}
.dates {
	cursor: pointer;
}
.dates:hover {
	background-color: var(--accent-color);
}
.calendar_cell_dates_error {
	background-color: var(--danger-color);
}
.calendar_cell_start_date {
	background-color: var(--second-accent-color);
}
.calendar_cell_end_date {
	background-color: var(--accent-color);
}
.calendar_cell_between {
	background-color: var(--grey-color);
}
.calendar_cell_today {
	color: var(--accent-color);
}
